---
import "../styles/global.css";
import Header from "@/components/Header";
const { content } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<title>{content.title}</title>
	</head>
	<body
		class="font-mono bg-foreground max-w-screen-md mx-auto text-primary-foreground max-h-screen flex flex-col min-h-screen"
	>
		<Header />
		<div class="p-4 flex flex-col gap-8 mt-6">
			<slot />
		</div>
		<footer class="text-center py-4 mt-auto">made with ❤️ by tomi</footer>
	</body>
</html>
